/* .App {
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}
.Sidebar{
  height: 100%;
  width: 250px;
  background-color: #2F4050;
}

.Sidebarlist{
   height: auto;
   width: 100%;
  padding: 0;
}
.Sidebarlist .row{
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row #icon{
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title{
  flex: 70%;
}

.Sidebarlist .row:hover{
  cursor: pointer;
  background-color: #293846;
}

.Sidebarlist #active{
  background-color: #293846;
}

.RouterPage {
  background: black;
  flex: 1; 
} */

.App {
  width: 100vw;
  height: 100vh;
  display: flex; /* Use flex layout */
}

body {
  margin: 0;
  padding: 0;
}

.Container {
  display: flex;
  width: 100%;
  height: 100%;
}

.Sidebar {
  width: 250px;
  background-color: #2f4050;
}

.Sidebarlist {
  padding: 0;
  list-style: none;
  margin: 0;
}

.Sidebarlist .row {
  height: 60px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.Sidebarlist .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.Sidebarlist #active {
  background-color: #293846;
}

.RouterPage {
  background: white;
  flex: 1; 
}
.Pages{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
}
